/* Button*/
.box_submit_button input{
    background: none !important;
    border: none !important;
    font-style: normal !important;
}

.p-20 {
    margin-top: 40px;
}

.margin-bottom-5{
    margin-bottom: 5px;
}

.box_notifica{
    position: fixed;
   bottom: 0px;
     width: 100%;
    z-index: 200;
   
}

.allargaNot{
    padding: 10px;
    margin-right: 20px;
}

.btn_cancella_notifica{
    float: right;
    padding: 10px;
}

.tendina_mappa{
    font-size:13px;
}

.privacy_policy_margin{
    margin-top:200px;
}

.font_colore_titolo{
    color: #fff !important;
     font-size: 22px;
    font-weight: 400 !important;
}

.grandezza_img_database{
    width: 50% !important;
}