/* Button*/
.box_submit_button {text-align:center}
.box_submit_button a{
    background: none !important;
    border: none !important;
    font-style: normal !important;
    text-transform: uppercase;
    font-size:15px;
    color:#fff;
    line-height: 54px;
    height: 54px
}
.box_submit_button a i {}


.margin-bottom-5{
    margin-bottom: 5px;
}

.box_notifica{
    position: fixed;
   bottom: 0px;
   left:0;
     width: 100%;
    z-index: 1900;
   
}

.allargaNot{
    padding: 10px;
    margin-right: 20px;
}

.btn_cancella_notifica{
    position: absolute;
    top:5px;
    right:10px;
    padding: 10px;
}

.tendina_mappa{
    font-size:13px;
}

.privacy_policy_margin{
    margin-top:100px;
}

.font_colore_titolo{
    color: #fff !important;
     font-size: 22px;
    font-weight: 400 !important;
}

.grandezza_img_database{
    width: 50% !important;
}

.paragrafo_center{
    text-align: center !important;
}
.margine_form{
    margin-top:80px;
    padding: 15px;
}

.white{
    background: #fff;
}

input.valid[type="text"], input.valid[type="text"]:focus, input.valid[type="password"], input.valid[type="password"]:focus, input.valid[type="email"], input.valid[type="email"]:focus, input.valid[type="url"], input.valid[type="url"]:focus, input.valid[type="time"], input.valid[type="time"]:focus, input.valid[type="date"], input.valid[type="date"]:focus, input.valid[type="datetime-local"], input.valid[type="datetime-local"]:focus, input.valid[type="tel"], input.valid[type="tel"]:focus, input.valid[type="number"], input.valid[type="number"]:focus, input.valid[type="search"], input.valid[type="search"]:focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus {
    border-bottom: 0.5px solid #AEAEAE;
    box-shadow: 0 0.5px 0 0 #AEAEAE;
}

#btn_box_recuperoPassword{
    display: none;
}

#btn_box_recuperoPasswordFailed{
    display: none;
}

#btn_box_Login{
    display: none;
}

#btn_box_LoginFailed{
    display: none;
}

#btn_box_Registrazione{
    display: none;
}

#btn_box_infoNotifica{
    display: none;
}

#btn_box_infoMvitalia{
    display: none;
}

.logoutApp{
    display: none;
}





.logo_mv {width:auto !important; margin: 0 auto; text-align: center}
.privacy h3 {font-size:14px}
.privacy p{font-size:12px}

.input-field span label {}